// Place all the styles related to the StudyTimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ========================================
    index
========================================= */

div#study-time-index-wrapper {
  width: 80%;
  color: #fff;
  margin: 90px auto 0 auto;
}

div#study-time-index-wrapper h1 {
  font-size: 80px;
  line-height: 100px;
  margin-top: 50px;
}

div#study-time-index-wrapper div#each-day-time {
  margin-top: 40px;
}

div#study-time-index-wrapper div#each-day-time p{
  font-size: 47px;
  line-height: 120px;
  float: left;
  margin-right: 30px;
}

div#study-time-index-wrapper div#each-day-time p a {
  color: rgb(20, 24, 255);
}


/* ========================================
    show
========================================= */

div#study-time-show-wrapper {
  width: 80%;
  color: #fff;
  margin: 90px auto 0 auto;
}

div#study-time-show-wrapper h1 {
  font-size: 80px;
  line-height: 100px;
  margin-top: 50px;
}

div#study-time-show-wrapper p {
  font-size: 80px;
  line-height: 100px;
  margin-top: 30px;
}

div#study-time-show-wrapper table {
  font-size: 50px;
  margin-top: 100px;
}

div#study-time-show-wrapper table tr {
  height: 70px;
}

div#study-time-show-wrapper table tr td.table-time {
  width: 25%;
}

div#study-time-show-wrapper table tr td.table-comment {
  width: 45%;
}

div#study-time-show-wrapper table tr td.table-del {
  width: 15%;
}

div#study-time-show-wrapper table tr td.table-del a{
  color: rgb(253, 82, 82);
}