<header>
  <% flash.each do |key, value| %>
    <p><%= content_tag(:div, value, class: "#{key}") %></p>
  <% end %>

  <% if logged_in? %>
    <p><%= current_user.name %>さん</p>
  <% end %>
</header>