<header class="cf">
  <p id="header-img">
    <%= link_to study_times_path  do %>
      <%= image_tag "music_record_disc.png" %>
    <% end %>
  </p>

  <% if logged_in? %>
    <p id="user-name"><%= current_user.name %>さん</p>
  <% end %>
</header>

<% flash.each do |key, value| %>
  <p><%= content_tag(:div, value, class: "#{key}") %></p>
<% end %>